/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
    background-color: #E2DFD0; /* LightGray */
    font-family: 'Inter', sans-serif;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.login-card {
    background-color: #f6f3e0; /* Lighter background color */
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 400px;
    font-family: 'Inter', sans-serif;
}

.login-card h1 {
    color: #32012F; /* Purple */
    margin-bottom: 1.5rem;
}

.login-card label {
    display: block;
    text-align: left;
    margin-bottom: 0.5rem;
    color: #524c42; /* DarkGray */
}

.login-card input {
    color: #524c42; /* DarkGray */
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-card input[type="submit"] {
    background-color: #32012F; /* Purple */
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 0.75rem;
    border-radius: 5px;
    font-family: 'Inter', sans-serif;
}

.login-card input[type="submit"]:hover {
    background-color: #F97300; /* Orange */
}

.login-card .signup-link {
    color: #F97300; /* Orange */
    margin-top: 1rem;
    display: block;
}

.logo {
    margin-bottom: 2rem;
}

.logo img {
    width: 150px;
    height: auto;
}


/* Card CSS */
.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: calc(20% - 20px);
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
}

.card-front, .card-back {
    padding: 20px;
}

.card h2 {
    font-size: 1.5em;
    color: #32012F; /* Purple */
    margin-bottom: 10px;
}

.card-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.move {
    margin-top: 10px;
}

.move h3 {
    font-size: 1.2em;
    color: #F97300; /* Orange */
    margin-bottom: 5px;
}

.move p {
    font-size: 1em;
    color: #524c42; /* Dark Gray */
}

.switch-view {
    display: block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #32012F; /* Purple */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.switch-view:hover {
    background-color: #F97300; /* Orange */
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination a {
    padding: 10px 20px;
    margin: 0 5px;
    background-color: #32012F; /* Purple */
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.pagination a:hover {
    background-color: #F97300; /* Orange */
}
